body {
    margin: 0px;
    padding: 0px;
}

#idea-box {
    background: url("../images/Grid.png");
    width: 100%;
    margin: 0 auto;
    height: 100vh;
    color: white;
    text-align: right;
}

#new-btn {
    margin-top: 10px;
}

#idea-holder {
    background-color: #34495e;
    padding: 10px;
    text-align: center;
}

#img {
    margin: px 0 px 0;
    width: 25%;
}

#idea-words {
    padding: 10px;
}

