body {
    text-align: center;
}

#idea-box {
    background-color: slategray;
    width: 50%;
    margin: 0 auto;
    padding: 10px;
}

#idea-holder {
    background-color: bisque;
    padding: 10px;
}

#btn-connect {
    background-color: green;
}

#btn-next {
    background-color: red;
}

#idea-create-box {
    margin-top: 10px;
}
