body {
    text-align: center;
    margin: 0px;
    padding: 0px;
}

#main {
    height: 100vh;
    background: url("../images/Grid.png") repeat;
    margin: 0px;
    padding: 0px;
}

h4 {
    color: red;
}

#idea-box {
    background-color: #bdc3c7;
    width: 50%;
    margin: 0 auto;
    padding: 10px;
    color: white;
    position: relative;
    top: 25%;
}

#img {
    margin: px 0 px 0;
    width: 25%;
}

#idea-words {
    padding: 10px;
}

#idea-holder {
    background-color: #34495e;
    padding: 10px;
}

#idea-create-box {
    margin-top: 10px;
}
